@page "/"
@using BlazorBsky.Data
@inject NavigationManager Nav
<PageTitle>Welcome to BlazorBsky: the everything app™</PageTitle>
<div id="main">
    @foreach (var post in Posts ?? [])
    {
        <BlazorBsky.Shared.PostComponent Value=post @key=post />
    }
</div>
@code{
    protected override async Task OnParametersSetAsync()
    {
        //Due to https://github.com/dotnet/aspnetcore/issues/45279 you can't navigate to a page that has "." in the URL in development, and that is in every single user handle
        //As a workaround, when testing instead of /url, you can go to /?url
        var query = new Uri(Nav.Uri).Query;
        if (query.Length > 0){
            Nav.NavigateTo(query.Substring(1));
            return;
        }

        var feed = await AppData.Client.Feed.GetFeedAsync(new ATUri("at://did:plc:z72i7hdynmk6r22z27h6tvur/app.bsky.feed.generator/whats-hot")); //default bsky.app feed
        if (feed.IsT0) Posts = feed.AsT0?.Feed?.Select(fvp => fvp.Post).OfType<PostView>();
    }

    IEnumerable<PostView>? Posts;


    [Parameter]
    public string? PageRoute { get; set; }

    /*To Do list:
    * - OAuth
    *   https://drasticactions.github.io/FishyFlip/docs/logging-in.html
    */
}